*,
*::before,
*::after {
  box-sizing: border-box;
}
/* menu-banner */
.hero {
  height: 96vh;
  width: 100%;
  background-image: url(../assets/coffee-circle.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__titlebox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.75rem;
  height: 12.5rem;
  background-color: #393939;
  color: white;
  text-align: center;
  margin: 1rem 0;
}
.hero__titlebox--border {
  background-color: transparent;
  border: 0.25rem solid #5bacc3;
  position: relative;
  top: -0.938rem;
  right: 0.938rem;
}
.menu-sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #393939;
  width: 100%;
  height: 5rem;
  padding: 1.25rem;
  color: white;
}
.menu-sub__list {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.menu-sub__list li {
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 0.25rem solid #5bacc3;
}
/* menu-banner */
/* item */
.item__details {
  width: 100%;
  background-color: #fff0ed;
  padding: 2rem;
}
.item__details h2 {
  text-align: center;
  margin: 0%;
}
.item__details h3 {
  text-align: center;
  margin-top: 2rem;
}
.item__details--flavor {
  margin-top: 0.5rem;
}
.item__details--flavor p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #393939;
}
.item--price {
  text-align: center;
  color: #5bacc3;
  margin-top: 0%;
}
.item__details--active {
  background-color: #f7f7f7;
  padding: 3%;
}
.item__details--active h2 {
  text-align: center;
  margin: 0%;
}
.item__details--active h3 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0.5%;
}
