
//colors of coffeeshop
$primary-color: #5bacc3;       //Nitro-blue
$secondary-color: #fff0ed;     //Nitro-pink
$dark-color: #393939;          //Graphite
$light-color: #f7f7f7;         //light gray
$highlight-color: white;
$text-color: #909090;          //gray

//font size
$font-large:3.75rem; //h1 and h2 (60px)
$font-medium:2.0625rem; // h3, nav heading, footer heading (33px)
$font-regular:1.3125rem; //nav link, button (21px)
$font-small:1.125rem; //paragraph text (18px)


//padding
$padding-large:3rem;
$padding-medium:2rem;
$padding-small:1.25rem;

//margins
$margin-top:0%;

//box shadow
$box-shadow: 0 0.313rem 0.563rem -0.063rem rgba(0, 0, 0, 0.25);